{include file='common/header'}

<body class="page-header-fixed page-footer-fixed">
	<!--顶部导航 状态-->
		{include file='common/top'}
	<!--顶部导航 状态-->
	<div class="page-container row-fluid">
		<!-- 导航栏 start-->
		{include file='common/left'}
		<!-- 导航栏 end-->
		<div class="page-content">
			<div class="container-fluid">
				<!-- {include file='common/nav'} -->
				<div class="row-fluid">
					<div class="span12">
						<h3 class="page-title">添加新策略
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="{:url('index/index')}">首页</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								
								<a href="{:url('Celue/index')}">策略列表</a>
								<i class="icon-angle-right"></i>
							</li>
							
							<li> 
								<div href="javascript:;" style='font-size:14px;'>
									添加策略
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption"><i class="icon-reorder"></i>新增</div>
								<div class="tools">
								</div>
							</div>
							<div class="portlet-body form">
								<form action="{:url('add')}" method='post' id="form_sample_2" class="form-horizontal">
									<input type="hidden" name='backurl' value='{$backurl|default=''}'>
									<div class="alert alert-error hide">  <!-- 后跳的位置 -->
										<button class="close" data-dismiss="alert"></button>
										你有一些形式的错误。请检查下面。
									</div> 
									<div class="alert alert-success hide">
										<button class="close" data-dismiss="alert"></button>
										您的表单验证成功！
									</div>

									<div class="control-group">
										<label class="control-label">品种<span class="required">*</span></label>
										<div class="controls">
											<input name="leixing" class="span6 m-wrap" placeholder="请输入品种">
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">月线<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="yue"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">周线<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="zhou"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">日线<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="ri"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">4小时<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="si"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">1小时<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="yi"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">10分钟<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="shi"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">交易计划<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="plan"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">思路<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<textarea class="span6 m-wrap" name="silu"></textarea>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">品种等级<span class="required">*</span></label>
										<div class="controls" style="width:70%;">
											<select  class="span2 chosen" data-with-diselect="1" name="state" data-placeholder="{$info.state|default=''}" tabindex="1">
												<option value="" data-placeholder="请选择"></option>
												<option value="危险品种">危险品种</option>
												<option value="机会品种">机会品种</option>
											</select>
										</div>
									</div>

									<div class="form-actions">

										<button type="submit" class="btn green">保存</button>

										<button type="reset" class="btn">取消</button>

									</div>
									
								</form>


							</div>

						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
{include file='common/footer'}
<!-- 文件上传js html脚本   无文件上传请删除-->
{if !empty($files_upload_index)}
	{include file='common/public_js/js_tmpl'}
	{include file='common/public_js/fileupload'} 
{/if}
<script>
	var editor;
	jQuery(document).ready(function() {       
	   App.init();
//需要修改的部分 
		rules = {
				wz_type: {
                    required: true,
                },
                wz_read:{
                	required: true,
                },
                wz_title: {
                    required: true,
                },
                wz_description: {
                    required: true,
                },
                wz_keyword: {
                    required: true,
                },
                wz_origin: {
                    required: true,
                },
                wz_recommend: {
                	required: true,
                },
                wz_topline: {
                	required: true,
                },
                wz_content: {
                	required: true,
                },
            };
        messages = { // custom messages for radio buttons and checkboxes
        		wz_type: {
                    required: '不能为空',
                },
                wz_read:{
                	required: '不能为空',
                },
                wz_title: {
                    required: '不能为空',
                },
                wz_description: {
                    required: '不能为空',
                },
                wz_keyword: {
                    required: '不能为空',
                },
                wz_origin: {
                    required: '不能为空',
                },
                wz_recommend: {
                	required: '不能为空',
                },
                wz_topline: {
                	required: '不能为空',
                },
                wz_content: {
                	required: '不能为空',
                },
            };//需要修改的部分 
		{include file='common/add/footer_js'} 
	})
</script>