<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<title>{$head_title|default=''}</title>
	{// 全局css样式}
	<link href="{$Think.config.cms_resource}/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="{$Think.config.cms_resource}/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{$Think.config.cms_resource}/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	{// 全局css样式结束 }
	{// 文件上传}
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/bootstrap-fileupload.css" />
	{// 页面级别的css样式 } 
		{//表格的css样式 }
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/select2_metro.css" /><!-- select 可搜索css -->
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/chosen.css" /><!-- select 可搜索css -->
	<link rel="stylesheet" href="{$Think.config.cms_resource}/css/DT_bootstrap.css" />
		{// 表格的css样式 }
		{// 表单的css样式 }
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/bootstrap-fileupload.css" />
	<link href="{$Think.config.cms_resource}/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" >
		{// 表单的css样式 }
		{// 文件上传样式 }
	<link href="{$Think.config.cms_resource}/css/jquery.fancybox.css" rel="stylesheet" />
		{// 文件上传样式 }
		{// 时间插件样式 }
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/datetimepicker.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/bootstrap-toggle-buttons.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/colorpicker.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/bootstrap-wysihtml5.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/clockface.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/jquery.tagsinput.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/daterangepicker.css" />
	<link href="{$Think.config.cms_resource}/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
		{// 时间插件样式 }
	<link rel="stylesheet" type="text/css" href="{$Think.config.cms_resource}/css/multi-select-metro.css" />
		{// 富文本插件样式 }
	{// <link rel="stylesheet" href="{$Think.__STATIC__/kindeditor/themes/default/default.css" />}
	{// <link rel="stylesheet" href="{$Think.__STATIC__/kindeditor/plugins/code/prettify.css" />}
	{// 富文本插件样式 }
	{// 谁添加的记得写备注+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++}
	<link href="{$Think.config.cms_resource}/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
	{// 谁添加的记得写备注+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++}
	{// 页面级别的css样式 }
	<link href="{$Think.config.cms_resource}/css/wuzhenhuai.css" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="{$Think.config.cms_resource}/image/favicon.ico" />
	<script src="{$Think.config.cms_resource}/js/jquery-1.10.1.min.js" type="text/javascript"></script>
</head>
<body class="page-header-fixed  page-footer-fixed page-sidebar-fixed page-sidebar-closed">







