<div class="span12">
	<h3 class="page-title">{$title_info['title_index']|default=''}
	</h3>
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="{:url('index/index')}">首页</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li> 
			<a href="{if $title_info['other']!=''}{:url($title_info['path'])}{else/}javascript:;{/if}">{$title_info['path_name']|default=''}</a> 
			{if $title_info['other']!=''}
			<i class="icon-angle-right"></i>
			{/if}
		</li>
		{if $title_info['other']!=''}
		<li> 
			<div href="javascript:;" style='font-size:14px;'>
				{$title_info['other']|default=''}
			</div>
		</li>
		{/if}
	</ul>
</div>

