							<div class="dataTable_length span1" style="width:134px;">
								<label>
									<select class="m-wrap small searchSize" name="searchSize" aria-controls="sample_1">
										<option  value="10" {if $searchSize=='10'} selected {/if}>10</option>
										<option  value="20" {if $searchSize=='20'} selected {/if}>20</option>
										<option  value="30" {if $searchSize=='30'} selected {/if}>30</option>
										<option  value="50" {if $searchSize=='50'} selected {/if}>50</option>
									</select>
							
								</label>
							</div>