<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>加微信炒股</title>
	<script type="text/javascript" src="{$Think.__STATIC__}/index/skin/m2/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{$Think.__STATIC__}/index/skin/m2/js/wx.js"></script>
	<style>
		*{margin:0;padding:0;}
		html,body{height: 100%;font-family:"微软雅黑"; font-size: 14px;}
		.img{width:100%;height:100%;background: url("{$Think.__STATIC__}/index/skin/m2/images/alret2.jpg") no-repeat center top;background-size:100% 100%;position:relative;}
		.wx{position:absolute;bottom:6%;left:32%;}
		.wx a{display:block;width:120px;height:30px;line-height:30px;text-align:center;background-color:#bf1b20;color:#fff;}
	</style>
</head>
<body>
    <div class="img">
		<div style="position:absolute;font-size:120%;top:42%;left:43%;color:#fff;">xhdz588</div>
		<div class="wx"><a onclick="presstj(1228)" href="weixin://">加微信获取</a></div>
	</div>
	<script src="https://s4.cnzz.com/z_stat.php?id=1254504955&web_id=1254504955" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a77a7010f00ed8ed00630f88dba56c6e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29211702-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>